<div class="row">
    <div class="col-md-12" *ngIf="device">
        <h3 class="text-themecolor">Equipo: <strong>{{device.name}}</strong></h3>
    </div>
</div>

<div class="row page-titles">
    <div class="col-md-6" *ngIf="device">
        <div class="card">
            <div class="card-title text-center">
                <h4>Hardaware</h4><hr>
            </div>
            <div class="card-body">
                <p>Marca: <strong>{{ device.brand }}</strong></p>
                <p>Modelo: <strong>{{ device.model }}</strong></p>
                <p>Nombre: <strong>{{ device.name }}</strong></p>
                <p>Sistema operativo: <strong>{{ device.operatingSystem }}</strong></p>
                <p>Memoría RAM: <strong>{{ device.ramMemory }}</strong></p>
                <p>Disco duro: <strong>{{ device.hardDisk }}</strong></p>
                <p>Ciudad: <strong>{{ device.processor }}</strong></p>
            </div>
        </div>
    </div>
    <div class="col-md-6" *ngIf="device">
        <div class="card">
            <div class="card-title text-center">
                <h4>Software: <span>{{ device.applications.length }}</span></h4><hr>
            </div>
            <div class="card-body">
                <p *ngFor="let application of device.applications"> <img width="30px" src="{{application | software}}" [alt]="application"> <strong>{{ application }}</strong> </p>
            </div>
        </div>
    </div>
</div>
