<div class="row">
    <div class="col-md-12">
        <h3 class="text-themecolor">Catalogo de software</h3>
    </div>
</div>

<div class="row page-titles">
    <div class="col-md-12" *ngIf="ver">
        <table class="table" border="1">
            <thead class="thead-light">
                <tr>
                    <th class="">
                        Aplicaciones
                    </th>
                    <th class="text-center">
                        Compradas
                    </th>
                    <th class="text-center">
                        Instaladas
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let app of summary[0]; let i = index">
                    <td class="">
                        <img width="30px" src="{{app | software}}" [alt]="application"> {{ app }}
                    </td>
                    <td class="text-center">
                        10
                    </td>
                    <td class="text-center">
                        {{ summary[1][i] }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    