<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li> <a class="waves-effect waves-dark" routerLinkActive="active" [routerLink]="['/dashboard']" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a></li>
                <!--<li> <a class="waves-effect waves-dark" routerLinkActive="active" [routerLink]="['/usuarios']" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Usuarios</span></a></li>-->
                <li> <a class="waves-effect waves-dark" routerLinkActive="active" [routerLink]="['/devices']" aria-expanded="false"><i class="mdi mdi-account-check"></i><span class="hide-menu">Equipos</span></a></li>
                <!-- <li> <a class="waves-effect waves-dark" routerLinkActive="active" [routerLink]="['/suministros']" aria-expanded="false"><i class="mdi mdi-account-check"></i><span class="hide-menu">Suministros</span></a></li> -->
                <!-- <li> <a class="waves-effect waves-dark" routerLinkActive="active" [routerLink]="['/prestamos']" aria-expanded="false"><i class="mdi mdi-account-check"></i><span class="hide-menu">Prestamos</span></a></li> -->
                <li> <a class="waves-effect waves-dark" routerLinkActive="active" [routerLink]="['/catalogo']" aria-expanded="false"><i class="mdi mdi-account-check"></i><span class="hide-menu">Catálogo</span></a></li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>